.gradle
*.sw?
.#*
*#
*~
/build
/code
.metadata
.factorypath
.recommenders
bin
build
lib/
target

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws


.factorypath
.springBeans
interpolated*.xml
dependency-reduced-pom.xml
build.log
_site/
.*.md.html
manifest.yml
MANIFEST.MF
settings.xml
activemq-data
overridedb.*

.DS_Store
.factorypath
dump.rdb
transaction-logs

out/
src/test/resources/
